@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .disable-blur{
      image-rendering: -webkit-optimize-contrast;
  }
}

@layer base {
  @font-face {
    font-family: "Undertale Font";
    src: 
      url('../public/fonts/determinationmonoweb-webfont.woff') format('woff'),
      url('../public/fonts/determinationmonoweb-webfont.woff2') format('woff2');
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}